html {
  height: 100%;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#circle {
  border-radius: 50%;
  width: 100px;
  aspect-ratio: 1;
  background-color: yellowgreen;
  transition: box-shadow ease-in 0.3s;
}
.glow {
    box-shadow: 0 0 10px #fff, 0 0 20px #ffffff, 0 0 30px #dee600,
    0 0 40px #e6de00, 0 0 50px #d7e600, 0 0 60px #e60073, 0 0 70px #b8e600;
}
img {
  margin: 10px 0px;
  width: 800px;
}
