html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(2, 0, 36);
  
}
.glass {
  color: white;
  background-color: rgba(255, 255, 255, 0.05) ;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 0.1px solid white; */
  border-radius: 20px;
  backdrop-filter: blur(20px);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 200%;
}
#clock {
  flex-direction: column;
  height: 487.5px;
  width: 230.291px;
}
#date {
  background-color: white;
}
.circle {
  background-color: white;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
}
#circle1 {
  /* background-color: white; */
  background: rgb(253, 187, 45);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 50%;
  position: absolute;
  /* translate: 2px 4px; */
  bottom: 21vh;
  right: 38.5vw;
  animation: circle1 20s linear infinite alternate ;
}
#circle2 {
  /* background-color: white; */
  background: rgb(252, 70, 107);
  background: linear-gradient(
    180deg,
    rgba(252, 70, 107, 1) 0%,
    rgba(63, 94, 251, 1) 100%
  );
  position: absolute;
  top: 21vh;
  left: 39.5vw;
  animation: circle2 20s linear infinite alternate ;
  /* translate: 2px 4px; */
}
@keyframes circle2 {
    from{

    }
    to{
        top : 61vh;
    }
}
@keyframes circle1 {
    from{

    }
    to{
        bottom : 61vh;
    }
}
